.notification {
  top: 8px;
  position: sticky;
  padding: 8px 16px;
  border: solid 4px;
  font-size: large;
  font-weight: bolder;
  border-radius: 8px;
  background-color: light-dark(lightgray, darkgray);

  &.success {
    color: green;
    border-color: green;
  }

  &.error {
    color: red;
    border-color: red;
  }

  p {
    margin: 0;
  }
}
